* {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

#root {
  position: relative;
  min-height: 100vh;
  background: #E6EAE9;
  text-align: center;
  color: #011627;
}

/* Header */

header {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #D3D8D9;
  padding-left: 9%;
  background: #E71D36;
  height: 5.3em;
  color: #FDFFFC;
}

h1 {
  font-weight: 500;
  text-shadow: 0 0 1px #011627;
}

/* Nav Bar */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  background: #FDFFFC;
  height: 1.2em;
}

.nav-link {
  text-decoration: none;
  color: #E71D36;
  font-size: 1.1em;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: 2px underline;
  text-underline-offset: 3px;
}

/* Login Bar */

#login-bar {
  display: flex;
  justify-content: end;
  align-items: center;
  border-top: 1px solid #D3D8D9;
  border-bottom: 1px solid #D3D8D9;
  padding-right: 5%;
  background: #FDFFFC;
  height: 2.8em;
  font-size: 0.9em;
}

#login-form {
  display: flex;
}

.visible-element {
  display: inherit;
  visibility: inherit;
}

.invisible-element {
  display: none;
  visibility: hidden;
}

#user-selection {
  border-radius: 4px;
  height: 23.2px;
  max-width: 124px;
}

#login-btn {
  margin-left: 0.8em;
  border: 1px ridge #011627;
  border-radius: 6px;
  background: #E6EAE9;
  line-height: 1.2rem;
}

#login-btn:hover {
  background: #CFD5D5;
}

#login-btn:active {
  background: #B8BFC2;
}

button:hover,
#user-selection:hover,
#login-btn:hover {
  cursor: pointer;
}

main {
  margin: 1em auto 0;
  padding-bottom: 7rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* News Page */

#search-bar {
  position: sticky;
  top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8em 0.8em 0;
  border: 3px solid #E71D36;
  border-radius: 15px;
  padding: 0.6em 3%;
  background: #FDFFFC;
  box-shadow: 0 0 2px 1px #D3D8D9;
}

#articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

@media only screen and (min-width: 1280px) {
  #search-bar {
    max-width: 1140px;
    margin: 0 auto;
  }

  #articles-list {
    max-width: 1280px;
    margin: 0 auto;
  }
}

#article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  border: 2px solid #D3D8D9;
  border-radius: 4px;
  padding: 1.2em 1em 1.1em;
  background: #FDFFFC;
  height: auto;
  width: 400px;
}

.article-topic,
.article-title,
.article-text,
.author,
.timestamp,
#comments-header {
  text-align: start;
}

.article-title {
  margin: 1.1em auto;
  font-weight: 500;
  font-size: 1.2rem;
}

#article-img {
  margin: 0 auto 1.1em;
  border-radius: 5px;
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.article-text {
  font-size: 0.9rem;
}

#article-author-keyword {
  font-weight: 600;
}

.count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
}

.section-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grey-btn,
#delete-comment-btn {
  border: none;
  border-radius: 15px;
  padding: 0.4em 0.9em 0.5em;
  background: #E6EAE9;
  font-size: 0.95rem;
}

.grey-btn:hover {
  background: #CFD5D5;
}

.grey-btn:active {
  background: #B8BFC2;
}

.vote-btn {
  border: 1px solid #D3D8D9;
  background: #E6EAE9;
  padding-bottom: 1.3em;
  height: 25.6px;
  width: 32px;
  font-size: 1.2rem;
}

.upvote-btn {
  border-radius: 50px 0 0 50px;
}

.downvote-btn {
  border-radius: 0 50px 50px 0;
}

.upvote-btn:hover {
  background: #DCFBD7;
}

.downvote-btn:hover,
#delete-comment-btn:hover {
  background: #F9D9DB;
}

.upvote-btn:active {
  background: #BBF7B2;
}

.downvote-btn:active,
#delete-comment-btn:active {
  background: #F6B4BA;
}

/* Single Article Page - Article */

#single-article {
  margin: 1em auto;
  border: 2px solid #D3D8D9;
  border-radius: 4px;
  padding: 1.2em 1em 0;
  background: #FDFFFC;
  height: auto;
  max-width: 85%;
}

.topic-keyword {
  border-radius: 10px;
  padding: 0.2em 0.6em 0.3em;
  background: #FECF8C;
  font-size: 0.95rem;
  font-weight: 500;
}

.author {
  margin-top: 0.4em;
  font-size: 0.9rem;
  font-weight: 500;
}

.text-body {
  margin: 1.5em auto;
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.timestamp {
  margin: 1em auto;
  font-size: 0.9rem;
}

.error {
  color: #E71D36;
  font-size: 0.9rem;
}

#single-article-btns {
  padding: 0.6em 0 0.8em;
}

@media only screen and (min-width: 1280px) {
  #single-article {
    max-width: 55%;
    margin: 0 auto;
  }
}

/* Single Article Page - Comments */

#comments-header {
  margin: 1em auto 0;
  border-top: 2px solid #D3D8D9;
  padding-top: 1em;
  font-weight: 500;
}

#new-comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

textarea {
  resize: none;
  margin: 1.4em 0;
  border-radius: 2px;
  line-height: 1.2rem;
  width: 99%;
  height: auto;
}

#comment {
  margin: 1.2em auto 1.6em;
  border-left: 2px solid #D3D8D9;
  padding-left: 0.6em;
}

#comment-votes {
  margin-top: 0.4em;
  text-align: end;
}

#comment-btns {
  margin-top: 1em;
}

.site-nav-btn {
  margin: 1.2em auto;
  border: #E71D36;
  border-radius: 6px;
  padding: 0.4em 0.9em 0.5em;
  background: #E71D36;
  color: #FDFFFC;
  font-size: 1.1rem;
  font-weight: 500;
}

/* Footer and Scroll Up Button */

footer {
  position: absolute;
  bottom: 0;
  background: #011627;
  height: 6rem;
  width: 100%;
}

#scroll-up-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  border: none;
  border-top: 2px solid #D3D8D9;
  border-left: 2px solid #D3D8D9;
  border-radius: 4px 0 0 0;
  padding: 0.4rem 0.6rem;
  background: #FDFFFC;
  color: #011627;
  font-weight: 500;
}

#scroll-up-btn:active {
  border-top: 2px solid #FDFFFC;
  border-left: 2px solid #FDFFFC;
}